:host{
  margin-top: 1rem;
  display: block;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin: auto
}

.post-image{
  width: 100%;

}

.post-image img{
  width:100%;
  border-radius: 5px;
}

